<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LibraryServlet</display-name>
    <servlet-name>LibraryServlet</servlet-name>
    <servlet-class>com.wipro.lms.controller.LibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibraryServlet</servlet-name>
    <url-pattern>/LibraryServlet</url-pattern>
  </servlet-mapping>
  <display-name>lms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindMemberServlet</display-name>
    <servlet-name>FindMemberServlet</servlet-name>
    <servlet-class>com.wipro.lms.controller.FindMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMemberServlet</servlet-name>
    <url-pattern>/FindMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>com.wipro.lms.controller.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
</web-app>